<div id="entry">
  <div class="container">
    <div class="no-post hide">
      <h4>Inquisition Returns</h4>
      <p>No content found for this url.</p>
    </div>

   <div class="post-content hide">
     <div class="info">
        <h1></h1>
        <p><span class="author"></span> wrote this on</p>
        <p class="date"></p>
      </div>
      <div class="content"></div>
      <div class="author-info">
        <h6><h6>
        <div class="author-card">
          <div class="photo">
            <img src="img/logo.png" alt="">
          </div>
          <div class="bio">
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <div class="back">
      <button class="prev hide">
        &larr; <strong class="text">Previous</strong>
        <strong class="title">Text title goes here</strong>
      </button>
      <button class="home">Back to Blog</button>
      <button class="next hide">
        <strong class="title">Text title goes here</strong>
        <strong class="text">Next </strong>&rarr;
      </button>
    </div>
 
  </div>
</div>
