<div id="search-page" class="container">
  <div class="results">
    <% if (results.length === 0) { %>
      <div>
        <h4>No results found!</h4>
      </div>
    <% } else { %>
      <h4>Showing top results</h4>
      <div class="row">
        <% results.forEach(function(post) { %>
          <div class="col-1-1 preview">
            <% include post-summary %>
          </div>
        <% }) %>
      </div>
    <% } %>
  </div>

  <div class="back home">
    <a href="posts/1" target="_self"><strong>Back to Blog</strong></a>
  </div>
</div>
