<!DOCTYPE html>
<html lang="<%= lang %>">
<%include partials/head %>
<body>

  <%include partials/topbar %>
  <div class="wspecs pageview"></div>
  <%include partials/footer %>

  <% include partials/script %>
</body>
</html>
